header {
    background-color: rgb(133, 238, 238);
}

h1 {
    text-align: center;
    color: rgb(180, 68, 68);
}

a {
    background-color: rgb(164, 164, 245);
    color: rgb(8, 0, 121);
}

img {
    display: none;
}

h2 {
    color: rgb(170, 125, 0);
}

section {
    background-color: rgb(255, 228, 196);
}